html { 
  background: url($cover-img-url) no-repeat right top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  font-size: 100%;

}

main {

  height: 60vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;


	article {
	  width: 30%;
	  margin: 0 auto;
	  overflow: auto;

	}
}